* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #2b2929;
}
.container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
}
.container h1 {
    color: beige;
}
.container button {
    background: #007e7e;
    color: #ffff;
    padding: 7px 10px;
    border-radius: 30px;
    border-color: transparent;
    margin-top: 1rem;
    cursor: pointer;
}

#jokeText {
    color: #ffff;
}